<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->

    <title>Trace Journal</title>

    <!-- t-h d -->

    <!-- Bootstrap -->
    <link href="../../css/bootstrap.min.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
    <link href="../../css/custom.css" rel="stylesheet">
    <link rel="shortcut icon" href="img/favicon.ico" type="img/x-icon">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  <body>
    <!-- Banner -->
    <div class="wide">
    </div>

    <div class="container">
      <div class="row">
        <div class="col-md-10">
          <img id="logo" src="../../img/trace.png" class="img-responsive" alt="logo">
          <p id="subtitle">A JOURNAL OF WRITING, MEDIA, AND ECOLOGY</p>
        </div>
      </div>
    </div>
          <!-- Fixed navbar -->
          <nav class="navbar navbar-default">
            <div class="container">
              <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                  <span class="sr-only">Toggle navigation</span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                </button>
              </div>
              <div id="navbar" class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                  <li class="navlinks"><a href="../../index.html">Home</a></li>
                  <li class="navlinks"><a href="../../issues.html">Issues</a></li>
                  <li class="navlinks"><a href="../../about.html">About</a></li>
                  <li class="navlinks"><a href="../../submit.html">Submissions</a></li>
                </ul>
              </div><!--/.nav-collapse -->
            </div>
          </nav>
    <!-- Main page content -->
    <div id="main-content" class="container">
      <div class="row">
        <div class="col-md-10 col-md-offset-1">

          <!-- PASTE PAGE CONTENT HERE -->
<h2><strong>Title of Article</strong></h2>
<h3>Author</h3>
<h4>Email address [at] utk [dot] edu</h4>
<h4>University affiliation</h4>
<h4 style="text-align: right;">(<i>Date of article publication</i>)</h4>
<div id="abstract">
<h4><strong>Abstract</strong></h4>
<p>Abstract content goes within this p tag</p>
</div>
<p>Article content goes here</p>

    <!-- Image embed example -->
<p><img src="img/01-morey.png" class="img-responsive"></p>
<p id="figure">Figure 1. text goes here</p>

    <!-- Video embed example -->
<div class="embed-responsive embed-responsive-16by9">
                <p><iframe width="560" height="315" src="https://www.youtube.com/embed/zdF8Tg6fw8o" frameborder="0" allowfullscreen></iframe></p>
              </div>
<p id="figure">Figure 2. The OCEARCH team captures, tags, and releases the white shark “Mary Lee.” From YouTube user LiveScience.</p>

    <!-- blockquote example -->
<blockquote>
<p>blockquote text</p>
</blockquote>

    <!-- section header example -->
<p><strong>Header title</strong></p>



<!-- WORKS CITED CONTENT HERE -->
<div id="cited">
<p><strong>Works Cited</strong></p>
<p class="citations">Biardeau, Madeleine. “Matsya: The Fish and the Flood in the Work of the Mythic Imagination.” <em>Asian Mythologies</em>, Compiled by Yves Bonnefoy, translated by Wendy Doniger, U of Chicago P, 1993.</p>
<p class="citations">Capuzzo, Michael. <em>Close to Shore: A True Story of Terror in an Age of Innocence</em>. Broadway Books, 2001.</p>
<p class="citations">Cronon, William. “The Trouble with Wilderness; or, Getting Back to the Wrong Nature.” <em>Ecocriticism: The Essential Reader</em>, edited by Ken Hiltner, Routledge, pp. 102-119, 2015.</p>
<p class="citations">Crossan, Andrea. “A Great White Shark Makes a Transatlantic Crossing—and You can Follow Along.” <em>PRI’s The World</em>, Public Radio International, 11 March 2014.</p>
<p class="citations">Derrida, Jacques. <em>The Animal that Therefore I Am</em>. Edited by Marie-Louise Mallet, translated by David Wills, Fordham UP, 2008.</p>
<p class="citations">“Dies After Attack by Fish; C. E. Vansant Had Been Bitten While Swimming at Beach Haven.” <em>The New York Times</em>, 3 July 1916, p. 18.</p>
<p class="citations">Dobrin, Sidney I. and Christian R. Weisser. <em>Natural Discourse: Toward Ecocomposition</em>. State U of New York P, 2002.</p>
<p class="citations">Fields, R. Douglas. “The Shark’s Electric Sense.” <em>Scientific American</em>, 2007, pp. 74-81.</p>
<p class="citations">Haraway, Donna J. <em>When Species Meet</em>. U of Minnesota P, 2008.</p>
<p class="citations">Ihde, Don. <em>Bodies in Technology</em>. U of Minnesota P, 2002.</p>
<p class="citations">“ISAF 2014 Worldwide Shark Attack Summary.” <em>Florida Museum of Natural History</em>, 30 Oct. 2015.</p>
<p class="citations">Jones, Steven E. <em>The Emergence of the Digital Humanities</em>. Routledge, 2013.</p>
<p class="citations">Melville, Herman. <em>Mardi: and A Voyage Thither</em>. Vol. 1, Northwestern UP, 1998.</p>
<p class="citations">“OCEARCH.” <em>OCEARCH</em>, ocearch.org, 30 Oct. 2015.</p>
<p class="citations">Philbrick, Nathaniel. <em>In the Heart of the Sea: The Tragedy of the Whaleship Essex</em>. Penguin, 2001.</p>
<p class="citations">Readhead, Harry. “Selfies Have Killed More People than Sharks this Year.” <em>Metro.co.uk</em>. 22. September 2015. Acceessed 1 Nov. 2015.</p>
<p class="citations">Rigby, Kate. “Writing after Nature.” <em>Ecocriticism: The Essential Reader</em>, edited by Ken Hiltner, Routledge, pp. 357-367, 2015.</p>
<p class="citations">Santos, Marc C., et al. “Our [Electrate] Stories: Explicating Ulmer’s Mystory Genre.” <em>Kairos: A Journal of Rhetoric, Technology, and Pedagogy</em>, vol. 18, no. 2, Spring 2014. Acceessed 24 Nov. 2015.</p>
<p class="citations">Smith, Homer W. “The Retention and Physiological Role of Urea in the Elasmobranchii.” <em>Biological Reviews</em>, vol. 11, no. 1, 1936, pp. 49-82.</p>
<p class="citations">Soergel, Matt. “Great White Shark Reaches Jacksonville Beach Surf Break.” <em>Jacksonville.com</em>, 8 Jan. 2013. Accessed 10 Oct. 2015.</p>
<p class="citations">Taylor, Mark C. <em>The Moment of Complexity: Emerging Network Culture</em>. U of Chicago P, 2002.</p>
<p class="citations">Ulmer, Gregory L. <em>Avatar Emergency</em>. Parlor P, 2012.</p>
<p class="citations">___. <em>Teletheory</em>. Atropos P, 2004.</p>
<p class="citations">White, Lynn Jr. “The Historical Roots of Our Ecological Crisis.” <em>Science</em>, vol. 155, no. 3767, 1967, pp. 1203-1207. Accessed 23 Nov. 2015.</p>
<p class="citations">Wise, Steven M. <em>Rattling the Cage: Toward Legal Rights for Animals</em>. Perseus Publishing, 2000.</p>
<p class="citations">Wolfe, Cary. <em>Animal Rites: American Culture, the Discourse of Species, and Posthumanist Theory</em>. U of Chicago P, 2003.</p>
<p class="citations">___. <em>Before the Law: Humans and Other Animals in a Biopolitical Frame</em>. U of Chicago P, 2012.</p>
<p class="citations">Yan, Holly. “PETA Suit Claims Monkey Holds Copyright to Famous Selfie.” <em>CNN</em>, 23 Sept. 2015. Accessed 23 Nov. 2015.</p>

<p class="returntoc"><a href="../../index.html#toc">Return to Table of Contents</a></p>
</div>
<!-- END OF PAGE CONTENT -->
</div>
</div>
</div>
<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<!-- Include all compiled plugins (below), or include individual files as needed -->
<script src="../../js/bootstrap.min.js"></script>
</body>
</html>
