<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Global Site Tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-106747302-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments)};
      gtag('js', new Date());

      gtag('config', 'UA-106747302-1');
    </script>
    <meta charset="utf-8">
    <meta name="description" content="Trace: A Journal of Writing, Media, and Ecology. This inaugural issue of Trace marks the arrival of a new venue for critical scholarship working at the intersection of ecocriticism and media studies. Our first issue brings together a diverse range of perspectives about the material and ethical impacts of digital technologies on environments and their inhabitants.">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->

    <title>Trace Journal</title>

    <!-- t-h d -->

    <!-- Bootstrap -->
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
    <link rel="stylesheet" href="font-awesome/css/font-awesome.min.css">
    <link href="css/custom.css" rel="stylesheet">
    <link rel="shortcut icon" href="img/newfavicon.ico" type="img/x-icon">


    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  <body>
    <!-- Banner -->
    <div class="wide">
    </div>

    <div class="container">
      <div class="row">
        <div class="col-md-10">
          <img id="logo" src="img/trace.png" class="img-responsive" alt="logo">
          <p id="subtitle">A JOURNAL OF WRITING, MEDIA, AND ECOLOGY</p>
        </div>
      </div>
    </div>
          <!-- Fixed navbar -->
          <nav id="toc" class="navbar navbar-default">
            <div class="container">
              <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                  <span class="sr-only">Toggle navigation</span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                </button>
              </div>
              <div id="navbar" class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                  <li class="active"><a href="index.html">Home</a></li>
                  <li class="navlinks"><a href="issues.html">Issues</a></li>
                  <li class="navlinks"><a href="about.html">About</a></li>
                  <li class="navlinks"><a href="submit.html">Submissions</a></li>
                  <li class="navlinks"><a class="copyicon" data-target="#copymodal" data-toggle="modal"><i class="fa fa-copyright" aria-hidden="true"></i></a></li></ul>
              </div><!--/.nav-collapse -->
            </div>
          </nav>
    <!-- Copyright modal -->

<div id="copymodal" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Copyright</h4>
      </div>
      <div class="modal-body">
        <p><div id="license">
          <p><strong>Creative Commons License </strong></p>
              <p><em>Trace</em> is licensed under a <a rel="license" href="http://creativecommons.org/licenses/by-nc-nd/4.0/">Creative Commons Attribution-NonCommercial-NoDerivatives 4.0 International License</a>.​</p>
              <p>Authors of accepted texts will retain copyright of their work. <em>Trace</em> retains the right to publish and distribute authors&rsquo; work electronically and in print, including archiving and making these items permanently retrievable electronically. Since authors retain copyright interest in their work, however, they may republish their text in any manner they wish&mdash;electronic or print&mdash;as long as they clearly acknowledge <em>Trace</em> as its original site of publication. Authors manage permissions for their work.</p>
              <p>Copyright for the journal, including its design, editorial activities, framework, and the journal specific version belong to <em>Trace</em> and its editorial board. No individual or institution may claim ownership or place any restrictions on the form, format, content, or distribution of the journal.</p>
              <p><em>Trace</em> supports the <a href="http://creativecommons.org">Creative Commons</a> project and has licensed its content for anyone to copy, distribute, display, or perform <em>Trace</em> as a whole under the following conditions: work must credit original author(s); work cannot be used for commercial purposes; and work must be granted the same license terms.</p>
              <p>To facilitate authors&rsquo; control over copyright and the rights they extend to others, we encourage authors to place a CC license on their work as well. Authors published in <em>Trace</em> grant to the journal the rights listed above, which supersede any other licensing of their work.</p>
               <p style="text-align: center;"><a rel="license" href="http://creativecommons.org/licenses/by-nc-nd/4.0/"><img alt="Creative Commons License" style="border-width:0" src="https://i.creativecommons.org/l/by-nc-nd/4.0/88x31.png" /></a></p>
        </div></p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>

  </div>
</div>

    <!-- Main page content -->
    <div id="main-content" class="container">
      <div class="row">
        <div class="col-md-5">
          <img src="trace-issues/issue1/img/cover.png" class="img-responsive">
        </div>
      <div class="row">
        <div id="cover-right" class="col-md-6">
            <h2><b>Issue #: Issue Title</b></h2>
            <p id="issue-sub"><b>Issue Subtitle</b></p>
            <a class="covertoc" href="#introduction">Introduction</a>
            <p id="cover-name">Issue editor names</p>
            <a class="covertoc" href="trace-issues/issue1/07-attebery.html">Article title 1</a>
            <p id="cover-name">Author 1</p>
            <a class="covertoc" href="trace-issues/issue1/01-granata.html">Article title 2</a>
            <p id="cover-name">Author 2</p>
            <a class="covertoc" href="trace-issues/issue1/02-morey.html">Article title 3</a>
            <p id="cover-name">Author 3</p>
            <a class="covertoc" href="trace-issues/issue1/03-yang.html">Article title 4</a>
            <p id="cover-name">Author 4</p>
            <a class="covertoc" href="trace-issues/issue1/04-tyler.html">Article title 5</a>
            <p id="cover-name">Author 5</p>
            <a class="covertoc" href="trace-issues/issue1/05-lindberg.html">Article title 6</a>
            <p id="cover-name">Author 6</p>
            <a class="covertoc" href="trace-issues/issue1/06-zertuche.html">Article title 7</a>
            <p id="cover-name">Author 7</p>

    </div>
    <div class="container">
      <div class="row">
        <div class="col-md-10 col-md-offset-1">
        <p id="introduction"></p>
        <h2>Introduction</h2>
        <p>
          Editor introduction content goes here
        </p>
        <p><b>Notes on the Editors:</b></p>
        <p>
          <strong>Editor 1</strong> Editor 1 bio
          <br><a href="mailto:emailaddress?subject=Trace">
  emailaddress
</a>
        </p>
        <p>
          <strong>Editor 2</strong> Editor 2 bio
          <br><a href="mailto:emailaddress?subject=Trace">
  email address
</a>
        </p>
        <br>
      <div id="credits">
        <p>Cover art by: artist</p>
        <p><a href="https://jamesprovost.com/">www.jamesprovost.com</a></p>
        <br>
        <p>Cover design and layout by Jason Crider</p>
        <p>Website design and layout by Jason Crider and Aaron Beveridge<p>
        <br>
      </div>




<p><a href="#toc">Return to Table of Contents</a></p>


      </div>
      </div>
      </div>
        </div>
      </div>
      </div>



    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="js/bootstrap.min.js"></script>
  </body>
</html>
